<div class="tui-container center">
  <div class="tui-row">
    <div class="tui-col">
      <h1 class="tui-heading-1"><span class="red-168-text">T</span>he past of the messaging</h1>
      <h2 class="tui-heading-2">with futuristic ambitions</h2>

      <p class="tui-text">Welcome to RedPiccolo, a modern messaging platform with a nod to the past. We're leveraging
        the latest technologies to build a messaging platform that's fast, secure, and easy to use. Join us as we shape
        the future of messaging.</p>
      <a href="/identity/auth" class="tui-button">Get Started</a>
    </div>
  </div>
</div>